<div class="header">
  <button pButton icon="pi pi-bell" label="Auction" class="home_bttn" (click)="homePage()"></button>
  <div>
  <button pButton icon="pi pi-search" (click)="search()" [disabled]="!name || name.length < 0" type="button" label="Search"></button>
  <input type="text" [(ngModel)]="name" pInputText placeholder="Enter the name of the lot">
  </div>
  <button *ngIf="!isLogged" class="login_bttn" pButton label="Login" (click)="goToLogin()"></button>
  <button *ngIf="isLogged" class="login_bttn" icon="pi pi-home" pButton label="Home" (click)="goToUserDetails()" ></button>
  <button pButton label="Help" icon="pi pi-info" class="help_bttn" (click)="help()"></button>
</div>
