<app-header></app-header>
<div *ngIf="thing" class="content">
  <p *ngIf="thing.message && isYourOwnLot()">{{thing.message}}</p>

  <div class="area__details">
    <div class="name__lot">
      {{thing.name}}
    </div>
    <div class="left__area">
      Дата завершения торгов: {{thing.sellingTime | date : 'dd/MM/yy HH:mm'}}
      <img [src]="'data:image/jpg;base64,'+ thing.picture" width="400" height="450">
    </div>
    <div class="right__area">
      <div class="price__amount">
        Цена: {{thing.minPrice}}
        <button (click)="showModal()" class="amount_bttn" pButton label="Подробнее о ставках"></button>
        <input [disabled]="thing.message" type="number" [(ngModel)]="newThingPrice">
        <button [disabled]="thing.message" class="bet_bttn" (click)="updateThing()"
                pButton label="Подтвердить!"></button>

      </div>
    </div>

  </div>
  <div class="description__thing">
    <p>Описание</p>
    {{thing.description}}
  </div>
  <div class="bttn_put_lot">
    <button pButton (click)="goToAddThing()" label="Поставить лот"></button>
  </div>
</div>
<p-dialog header="Ставки" [(visible)]="display" [modal]="true" [style]="{width: '750px', minWidth: '200px'}" [minY]="70"
          [baseZIndex]="10000">
  <table class="table_modal">
    <thead>
    <tr>
      <td>Имя </td>
      <td>Ставка</td>
      <td>Время</td>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let override of overrides">
        <td>{{override.name}}</td>
        <td>{{override.price}}</td>
        <td>{{override.otime | date: 'dd/MM/yy HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Ok"></button>
  </p-footer>
</p-dialog>
