<app-header></app-header>
<div class="content">
  <div class="area__details">
    <div class="name__lot">
      {{thing.name}}
    </div>
    <div class="left__area">
      Expiration date: {{thing.endDate}}
      <img (click)="showModal()" src="{{thing.picture}}" width="400" height="450">
    </div>
    <div class="right__area">
      <div class="price__amount">
        Price: {{thing.price}}
        <button class="amount_bttn" pButton label="Amount of bets"></button>
        <input type="number" [(ngModel)]="newThingPrice">
        <button class="bet_bttn" pButton label="Bet!"></button>
      </div>
    </div>

  </div>
  <div class="description__thing">
    <p>Description</p>
    {{thing.description}}
  </div>
  <div class="bttn_put_lot">
    <button pButton (click)="goToAddThing()" label="Put a lot"></button>
  </div>
</div>
