.left__area {
  float: left;
  text-align: center;
}
.left__area p {
  font-size: 21px;
}
.right__area {
  float: right;
}

.content .area__details {
  width:1000px;
  margin: 0 auto;
}
.area__details p {
  text-align: center;
}
