.form__reg {
  border: 2px solid cornflowerblue;
  border-radius: 8px;
  width: 450px;
  margin-left: 38%;
  height: 474px;
  background: lightblue;
}
.inputs{
  margin-left: 73px;
  font-size: 47px;
}
.close_button{
  margin-left: 80px;
}
h3 {
  text-align: center;
}

