<app-header></app-header>
<div class="form__reg">
  <h3>Регистрация</h3>
  <form #registrationForm="ngForm">
    <div class="inputs">
      <input type="text" pInputText [(ngModel)]="username" name="username" placeholder="Логин" required>
      <input type="password" pPassword [(ngModel)]="password1" name="password1" placeholder="Пароль" required/>
      <input type="password" pPassword [(ngModel)]="password2" name="password2" placeholder="Повторите пароль" required/>
      <input type="email" pInputText [(ngModel)]="mail" name="mail" placeholder="Почтовый ящик" required>
      <input type="text" pInputText [(ngModel)]="place" name="place" placeholder="Место проживания">
    </div>
    <div class="register_bttn">
      <button pButton label="Принять" class="ui-button-success" style="margin-top:17px;" (click)="register()"
              [disabled]="registrationForm.invalid"></button>
    </div>
    <div class="close_bttn">
      <button pButton label="Закрыть" (click)="close()" icon="pi pi-times" class="ui-button-danger"></button>
    </div>
  </form>
</div>
