<app-header></app-header>
<div class="content">
  <div class="area_creating">
    <p class="creating_lot">Выставление лота</p>
    <div class="data__creation">
      <p>Данные</p>
      <div class="data">
        <input pInput type="text" placeholder="Название" maxlength="30" [(ngModel)]="name" id="input_name">
        <p-dropdown [(ngModel)]="selectedCategory" placeholder="Выберите категорию" [options]="categories"></p-dropdown>
        <input (change)="fileUploaded($event)" accept=".jpg, .jpeg, .png" type="file" id="file" style="display: none">
        <label for="file">Выберите изображение лота</label>
      </div>
    </div>
    <div class="price__date">
      <p>Цена, дата</p>
      <div class="union__fields">
        <input pInput placeholder="Цена" min="0" type="text" [(ngModel)]="price">
        <p-calendar [(ngModel)]="date" placeholder="Дата завершения торгов" [showTime]="true"></p-calendar>
      </div>
    </div>
    <div class="description__creation">
      <p>Описание</p>
      <textarea pInputTextarea [(ngModel)]="description"></textarea>
    </div>
    <div class="button__put">
      <button pButton style="float: right" (click)="save()" label="Подтвердить" ></button>
    </div>
  </div>
</div>
